<div class="container-fluid main p-5">
<div class="container box  p-0 row">

    <!-- For Welcome Box -->
    <div class="col bg-success item welcome">
      <div id="wel">
        <div ><u >Wel</u>come</div>
        <div>To</div>
        <div>MIS - Admin</div>
      </div>
    </div>


    <!-- For Sign In Box -->

    <div class="col bg-white item signin">
      <div class="row">
        <img src="https://images.crunchbase.com/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1489583018/ujptx8j9e7my6sdkexuw.png" alt="" class="col">
        <div class="col name">
          <div style="font-size: 30px; font-weight: bolder;" class="text-success">CUBE</div>
          <div style="font-size: 30px;  font-weight: bolder;">HIGHWAYS</div>
        </div>
      </div>
      <button class="btn btn-success px-3">
        <img height="20px" width="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/2048px-Microsoft_logo.svg.png">  SignIn with Microsoft
      </button><br>
      <div>
        Don't Have CubeHighways Mail , Please 
      </div><br>
      <div>
        <button class="btn btn-success px-5 mx-2" (click)="navigateUp()">
          SignUp
        </button>
      <button class="btn btn-success px-5" (click)="navigate()">
        SignIn
      </button>
      </div>
    </div>
</div>
</div>